@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto:wght@100&display=swap');

.title{
  font-size: 64px;
  font-family: 'Comfortaa', cursive;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1366px;
  padding-bottom: 62px;
}

.input-layout{
  margin-top: 47px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.input-name{
  margin-top: 45px;
  font-family: 'Roboto';
  font-size: 36px;
}

.input-txt{
  width: 394px;
  height: 88px;
  background-color: #F5F2F2;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
}

.salvar{
  margin-top: 81px;
  width: 357px;
  height: 106px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #25ABD6;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  color: #FFFFFF;
}

.botao-log-out{
  height: 50px;
  align-self: end; 
  margin-right: 13px;
  margin-top: 11px;
}