*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.header{
  top: 0;
  background-color: #25ABD6;
  height: 94px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

.header-title{
  color:white;
  font-family: Comfortaa;
  font-size: 36px;
}

.leftbar-gerente{
  position: fixed;
  top: 94;
  height: 100%;
  width: 149px;
  background-color: #C4C4C4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1000;
  padding-bottom: 94;
}

.img-botao-gerente{
  height: 90px;
}

.botao-log-out{
  height: 50px;
  align-self: end; 
  margin-right: 13px;
  margin-top: 11px;
}

.content-gerente{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-left: 149px;
  margin-top: 94px;
}

input.logout{
  background-color: rgb(0,0,0,0); 
  border: 0; 
  align-self: end; 
  margin-right: 13px; 
  margin-top: 11px;
}
